html,
body {
  height: 100vh;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
body,
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.container {
  padding: var(--padding);
}
.row {
  width: 100%;
  display: flex;
  gap: 1ch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#canvasContainer {
  width: 100%;
  flex: 1 0 auto;
  text-align: center;
}
#canvasContainer[data-ready] .analyzingLabel {
  display: none;
}

.analyzingLabel {
  color: var(--color-light-gray);
}

.statusColumnLeft {
  width: 50%;
}
.statusColumnMiddle,
.statusColumnRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1ch;
  width: 25%;
}
#maxLoopIndex {
  color: var(--color-light-gray);
}

#dyingCell,
#liveCell {
  height: var(--cell-size);
  width: var(--cell-size);
  border-radius: 100%;
  display: inline-block;
}
#dyingCell {
  border: 1px dashed var(--color-light-gray);
}
#liveCell {
  background-color: var(--color-green);
}

label {
  display: flex;
  align-content: center;
  gap: 1ch;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-light-gray);
}

#restartButton {
  flex: 1 0 auto;
  padding: 0.25rem 1ch;
}

.iconButton {
  background-color: var(--color-almost-black);
  border-radius: 0.25rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.25rem;
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}
.iconButton:disabled {
  opacity: 0.5;
}
.iconButton .icon {
  fill: var(--color-white);
}
.iconButton:hover {
  background-color: #333;
}
.iconButton[data-state="active"] [data-inactive] {
  display: none;
}

.iconButton[data-state="inactive"] [data-active] {
  display: none;
}
